html, body {
  margin: 0;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: 60vw;
}

h1 {
  font-size: 2rem;
  letter-spacing: 1.5;
  text-align: center;
  margin: 0px auto;
  color: gray;
  background-color: rgba(255, 255, 255, 0.2);
  text-shadow: 5px 5px 4px rgba(128, 128, 128, 0.5);
  position: fixed;
  top: 20px;
  left: 20px;
}

div {

    font-size: 16px;
    color: black;
    margin-top: 10px;
    text-align: center;
}

p {
    position: fixed;
    margin: 0;
    font-size: 24px;
    bottom: 20px;
    right: 0px;
    color: red;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: fixed;
    bottom: 0px;
    left: 0px;

}
#a {
    color: whitesmoke;
    background-color: brown;
    text-shadow: 1px 1px 1px white;
    font-size: 20px;
    grid-column: 1;
    grid-row: 2;
}

#d {
    color: whitesmoke;
    background-color: darkcyan;
    text-shadow: 1px 1px 1px white;
    font-size: 20px;
    grid-column: 3;
    grid-row: 2;
}

#w {
    color: whitesmoke;
    background-color: darkorange;
    text-shadow: 1px 1px 1px white;
    font-size: 20px;
    grid-column: 2;
    grid-row: 1;
}

#s {
    color: whitesmoke;
    background-color: darkolivegreen;
    font-size: 20px;
    text-shadow: 1px 1px 1px white;
    grid-column: 2;
    grid-row: 3;
}